<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style>
.small_bottom{
    float:left;
    height:50px;
    width:50px;
    margin:5px;
}
</style>
<title>Video Library</title>

<link href="/stylesheets/templatemo_style.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-1.10.2.js"></script>
<!--<script src="/js/jquery.jscroll.js"></script>-->

</head>

<body>
	<div id="templatemo_background_section_top">
    
    	<div class="templatemo_container">
		
        	<div id="templatemo_header">
				<div id="templatemo_logo_section">            
		        	<h1><a href="/">Video Library</a></h1>          
					<h2>Store for all movies: Comedy, Thriller, Action, Romantic, Documentary</h2>
				</div>
				<div id="templatemo_user_section">            
		        	Welcome <%= userDet.firstname %>!!
		        	<a href="/sign-out?nocache=1">Sign Out</a>
				</div>
         	</div><!-- end of headder -->
               <div id="templatemo_menu_panel"> 
				<div id="templatemo_menu_section">
					
					<ul>
					  <li><a href="/createmember?nocache=1">Create member    </a></li>
					  <li><a href="/listmember?nocache=1">List Members   </a></li>
					  <li><a href="/createmovie?nocache=1">Create Movie   </a></li>
					  <li><a href="/listmovie?nocache=1">List Movies   </a></li>
					  <li><a href="/issuemovie?nocache=1">Issue Movie   </a></li>
					  <li><a href="/submitmovie?nocache=1">Submit Movie  </a></li>  
					  <li><a href="/generatebill?nocache=1">Generate Bill  </a></li> 							
					</ul> 
						
					</div>
             </div> <!-- end of menu -->
		</div><!-- end of container-->
        
	</div><!-- end of templatemo_background_section_top-->
    
    <div id="templatemo_background_section_middle">
    
    	<div class="templatemo_container">
        
        	<div id="templatemo_left_section">
            	
                <div class="templatemo_post">
                
                	<div class="templatemo_post_top">
                    	<h1>List Movies: This Section lists all the movies and allows to issue the same</h1>
                    </div>
                    <div class="templatemo_post_mid">
                    
                    <!-- List to display -->
                   <div style="color:yellow; font-weight:bold;" align="center">
				<% if(checkoutError != null) {%>
				<%= checkoutError %>
				<% } %>
				</div>
				<br/>
                    <table class="listData" border=1>
                    <tr>
                    <th style="color:white;">Sr. No.</th>
                    <th style="color:white;">Movie Name</th>                    
                    <th style="color:white;">Issued Date</th>
                    <th style="color:white;">Issued Copies</th>
                    <th style="color:white;">Select</th>
                    </tr>
                    <% if(movies != null && movies.length > 0) {
              
                    	for(var i=0;i<movies.length;i++) {
                    	//console.log(movies[i].movie_id);
                    %>
	                    <tr>
	                    <td><%= i+1 %></td>
	                    <td><%= movies[i].movie_name %></td>
	                    <td><%= movies[i].issue_date %></td>
	                    
	                    <td><%= movies[i].movie_count %></td>
	       				
	                    <td>
	                     <form action="/submitmovieselect-submit" method="POST">
	                          <input type="hidden" name="membershipNo" value="<%=membershipNo%>"/>
	                          <!--<input type="hidden" name="moviemappingId" value="<%=movies[i].user_movie_id%>"/>-->
	                          <input type="hidden" name="movieId" value="<%=movies[i].movie_id%>"/>
                   			  <input type="submit" value="Submit >>"/> 
                   		</form>       
	                    </td>
	                    </tr>
	                    <% } } %>
                    </table>
                    </div>
                    <div class="templatemo_post_bottom">
          
                    </div>
                    
				</div><!-- end of templatemo_post-->
                
            </div><!-- end of left section-->
            
            
        </div><!-- end of container-->
	</div><!-- end of background middle-->
    
     
</body>




</html>